/* Listado de productos */

.principal {
    padding: 1%;
    background-color: var(--light-gray);
}

.update-success {
  height: 50px;
  background-color: var(--dark-blue);
  color: white;
  padding-top: 1%;
  text-align: center;
  font-weight: bold;
}

.container-categoria{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1% 5%;
}

.indicador {
  background-color: var(--light-gray);
  width: 100%;
  font-size: 30px;
/*   font-family: Montserrat-SemiBold; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fas.fa-arrow-left {
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
}

.detalle_producto {
  font-size: 0.9em;
  font-weight: 400;
/*   font-family: Montserrat-Regular; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
}

.container-productos{
  width: 100%;
  display: flex;
  flex-direction: column;  
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1%;
}

.container-producto{
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--light-gray);
}

.product-box {
    width:100%;
    background-color: #ffffff;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 300ms;
    margin: 8px 0;
}

.product-box a {
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    text-decoration: none;
}

.product-box_image {
    width:10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.product-box-img-data {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width:70%;
}

.product-box_image img {
  width: 100%;
  height: 100px;
}

.product-box_data_adm {
    width:90%;
    padding: 15px 0px 15px 15px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.product-box_data_adm h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
    font-weight: bold;
    color: var(--light-blue);
}

.product-box_data_adm span {
    font-size: 0.9em;
    font-weight: 300;
    color: var(--green);
    font-weight: bold;
    margin: 0 0 0 10px;
    text-decoration:line-through;
}

.product-name {
    font-size:18px;
    font-weight:bold;
    width:50%;
    padding: 1%;
}

.product-status {
    font-size:16px;
    width:20%;
    padding: 1%;
}

.product-price {
    font-size:16px;
    font-weight:bold;
    width:30%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
}

.form-producto {
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botones {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-crear-regalo {
  height: 45px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding-top:25px;
}

.container-crear-regalo a {
  display: inline-block;
  width: 200px;
  height: 30px;
  font-size: 18px;
  text-decoration: none;
  padding-top: 3px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--green);
  box-shadow: 1px 1px 2px lightslategrey;  
}

.container-crear-regalo i {
  margin-right: 4px;
  padding-top: 3px;
}

.boton-crear:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

.boton-guardar {
  background-color: var(--light-blue);
  border: none;
  width: 120px;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
}

.boton-guardar:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

.boton-eliminar{
  background-color: tomato;
  border: none;
  width: 120px;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
}

.boton-eliminar:hover {
  background-color: crimson;
  cursor: pointer;
}

/* Media Queries  */

/* Mobile L */

/* @media (min-width: 575px) {

  .container-producto{
    width: 50%;
  }

} */

/* Tablet  */

/* @media (min-width: 900px) {

  .container-producto{
    width: 33%;
  }

}
 */
/* Mobile L  */

/* @media (min-width: 1200px) {

  .container-producto{
    width: 25%;
  } */

  @media (max-width: 1000px) {

  .product-box a {
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    text-decoration: none;
  }

  
.botones {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-box_data_adm {
  width:90%;
  padding: 15px 0px 15px 15px;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.product-box_image {
  width:45%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.product-box-img-data {
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  width:100%;
}

.product-name {
  font-size:18px;
  font-weight:bold;
  width:40%;
  padding: 1%;
}

.product-status {
  font-size:16px;
  width:20%;
  padding: 1%;
}

.product-price {
  font-weight:bold;
  width:40%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
}

.form-producto {
  width: 50%;
  height:50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}